// $button-active: #00ffd541;
// $font-color: #1b1c21;
// $divider-color: #41f6d7;

$sidebar-width: 306px;
$padding-x: 32px;
$font-family: 'ttlakes';
$font-color: #7e7e82;
$bg-main: #f8f8f8;
$bg-white: #fff;
$divider-color: #41f6d7;
$button-active: #b1bfbd22;
