@use 'vars' as v;
@import url(fonts.css);

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  font-family: v.$font-family;
  flex-direction: column;
  height: 100%;
}

button {
  background-color: transparent !important;
  border: none;
  padding: 0;
  width: fit-content;
  height: 40px;
  font-family: 'ttlakes';
  cursor: pointer;
  &:active {
    background-color: v.$button-active;
  }
}

.aside {
  width: 306px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  z-index: 1000;

  &::-webkit-scrollbar {
    display: none; /* для WebKit-браузеров */
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 31px 0 22px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding-left: 0;
    padding-top: 37px;
    margin-bottom: 20px;
    flex-grow: 1;
  }
}

.button-close-2 {
  display: none;
  background-image: url(../img/close.svg);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button-list {
  background-color: #fff;
  width: fit-content;
  border: none;
  font-family: v.$font-family;
  font-weight: 500;
  display: flex;
  padding: 0;
  align-items: center;
}

.divider {
  width: 4px;
  height: 32px;
  background-color: v.$divider-color;
  position: absolute;
  left: 0px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.divider2 {
  width: 3px;
  height: 40px;
  border-radius: 2px;
  background-color: v.$divider-color;
}

.list__item {
  display: flex;
  align-items: center;
  padding-left: 24px;
  color: v.$font-color;
  transition: color 0.3s ease;

  &:hover {
    button {
      color: v.$font-color;
    }
  }
  &:focus-within {
    .divider {
      opacity: 1;
    }
  }
}

.aside__footer {
  margin-left: 19px;
  margin-bottom: 20px;

  .contact {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
  .mail {
    font-weight: 500;
    color: v.$font-color;
    margin-bottom: 12px;
  }
  .number {
    font-weight: 700;
    color: v.$font-color;
  }
}

.language {
  font-weight: 500;
  display: flex;
  margin-top: 40px;
  gap: 7px;

  &__input {
    display: none;
  }

  &__item {
    color: black;
    cursor: pointer;
    transition: color 0.3s;
  }

  &__input:checked + &__item {
    color: gray;
  }
}

.modal {
  position: fixed;
  inset: 0;

  cursor: pointer;
  display: none;
  z-index: 1000;
}

.modal-blur {
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-feedback {
  height: 100vh;
  width: 513px;
  overflow-y: auto;
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;

  cursor: default;

  &__wrapper {
    display: flex;
  }
}

.feedback__main {
  box-shadow: -16px 0px 52px 0px #0e185033;
  background-color: rgb(255, 255, 255);
  height: 100vh;

  &-header {
    display: flex;
    font-weight: 700;
    gap: 30px;
    padding-top: 32px;
    align-items: center;
  }

  .feedback__footer {
    color: #7e7e82;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0;
    padding-left: 20px;

    a {
      text-decoration: none;
      color: #ff3e79;
    }
  }

  .feedback__submit {
    background-image: url(../img/submit.svg);
    height: 32px;
    width: 136px;
    margin-top: 23px;
    margin-left: 240px;
  }
}

.feedback__input {
  display: flex;
  flex-direction: column;
  justify-self: center;
  row-gap: 16px;
  width: 90%;
  margin-top: 24px;
  margin-bottom: 16px;

  .feedback__input-item {
    font-family: 'ttlakes';
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    padding: 0 16px;

    &::placeholder {
      color: #b5b6bc;
    }
  }

  .message {
    width: 100%;
    box-sizing: border-box;
    height: 118px;
    padding: 12px 16px;

    &::placeholder {
      position: absolute;
      top: 12px;
    }
  }
}

.button-close {
  margin: 32px 32px 0 0;
  padding: 20px;
  background-image: url(../img/close.svg);
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeModal2 {
  margin-right: 16px;
}
.modal__call {
  position: fixed;
  inset: 0;
  display: block;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  .call__wrapper {
    display: flex;
    max-width: 495px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right: -513px;
    transition: right 0.3s ease, opacity 0.3s ease;
    z-index: 1100;
  }

  .modal__blur {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 900;
  }

  &.active {
    pointer-events: auto; /* Делаем модалку интерактивной */
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    .call__wrapper {
      right: 0 !important;
    }

    .modal__blur {
      opacity: 1;
      visibility: visible; /* Фон становится видимым */
    }
  }
}

.call__main {
  background-color: #fff;
  width: 440px;
  height: 100vh;
  .call__input {
    margin-top: 24px;
    margin-bottom: 16px;
  }
}

.call__input {
  display: flex;
  flex-direction: column;
  justify-self: center;
  row-gap: 16px;
  width: 90%;
  margin-top: 24px;
  margin-bottom: 16px;

  .call__input-item {
    font-family: 'ttlakes';
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #eaeaea;
    padding: 0 16px;

    &::placeholder {
      color: #b5b6bc;
    }
  }
}

.call__footer {
  color: #7e7e82;
  font-family: 'ttlakes';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0;
  padding-left: 20px;
  width: 90%;

  a {
    color: #ff3e79;
    text-decoration: none;
  }
}

.feedback__submit {
  background-image: url(../img/submit.svg);
  height: 32px;
  width: 136px;
  margin-top: 23px;
  margin-left: 240px;
}

.main {
  width: 100vw;
  height: 100vh;
  padding-left: 306px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #f8f8f8;

  &__header {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
  }
}

.left-side {
  display: flex;
  align-items: center;
}
.header__text {
  font-weight: 700;
  font-size: 28px;
  display: block;
  white-space: nowrap;
  margin-left: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 32px;
}
.repair,
.checkstatus {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 8px;
  width: fit-content !important;
  background-color: #fff;
  border: none;
  font-family: v.$font-family;

  &:active {
    background-color: v.$button-active;
  }
}

.checkstatus {
  margin-right: 30px;
}

.left-side768 {
  display: none;
}
.main__header-768 {
  display: none;
}
.main {
  &__scrollbar {
    width: auto;
    max-width: 1100px;
    height: 40px;
    margin: 0 20px;
    margin-top: 8px;

    display: flex;

    gap: 5px;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__scroll-item {
    width: 246px;
    height: 40px;
    padding: 10px;
    font-family: v.$font-family;
    font-size: 16px;
    font-weight: 500;
    color: v.$font-color;
    opacity: 0.8;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color: #f8f8f8;

    &:focus,
    &:active {
      border: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #fff;
    }
  }
}

.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
  }

  &__content {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    margin: 0 16px 0px 16px;
    height: fit-content;
    max-width: 80%;
  }

  &__more {
    margin: 16px 0px 10px 0px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;

    button {
      border: 1px solid white;
      background-color: white;
      width: fit-content;

      &:active {
        background-color: #b1bfbd22;
      }
    }
  }

  &__img {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px;
    width: 100%;

    img {
      height: 30vw;
      border-radius: 6px;
    }
  }
}

//companies

.swiper-pagination {
  display: none;
}
.companies {
  margin-top: 51px;
  button {
    border: none;
    background-color: #fff !important;

    &:active {
      background-color: rgba(0, 255, 255, 0.194);
    }
  }

  #hideBtn,
  #hideBtn2 {
    font-family: 'ttlakes';
    border: none;
    background-color: transparent !important;
  }
  #button__text2 {
    font-family: 'ttlakes';
  }

  .header {
    color: v.$font-color;
    font-weight: 300;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 16px 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-top: 1px solid #d9fff5;
    background: linear-gradient(to right, #f8f8f8, #fff);
  }

  .slider {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    column-gap: 32px;
    row-gap: 16px;
    padding-left: 32px;

    &__item {
      width: 240px !important;
      height: 72px;
      box-sizing: border-box;
      display: flex;
      border-radius: 6px;
      overflow: hidden;
      border: 1px solid #eaeaea;
    }
  }

  .eshe {
    display: none;
  }

  .item {
    &__logo {
      padding-left: 16px;
    }

    &__button {
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center !important;
      background-color: #fff;
    }

    &__go {
      margin-right: 16px;
    }
  }

  .more {
    &__button {
      display: flex;
      align-items: center;
      margin-left: 32px;
      margin-top: 46px;
    }

    &__item {
      display: grid;
      grid-template-columns: repeat(4, 240px);
      grid-column: 1 / 4;
      gap: 32px;

      &.moreItem {
        display: none;
      }
    }
  }

  .mySwiper {
    display: none !important;
  }
}

//techs
.techs {
  margin-bottom: 50px;
  &__wrapper {
    margin-top: 50px;

    .eshe {
      display: none;
    }
    .slider-techs {
      background-color: v.$bg-main;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
      margin-left: 24px;
    }
    .header {
      background: linear-gradient(to right, #f8f8f8, #fff);
      color: v.$font-color;
      font-weight: 300;
      width: 100%;
      height: 56px;
      box-sizing: border-box;
      padding: 16px 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      border-top: 1px solid #d9fff5;
      margin-bottom: 24px;
    }
  }
}
.slider__item2 {
  .item__button2 {
    font-family: v.$font-family;
    font-weight: 500;
    width: 240px;
    height: 160px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 16px 0 0 16px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: #fff;

    &:active {
      background-color: v.$button-active;
    }
  }
}

.tech-go {
  align-self: flex-end;
  padding: 0 16px 16px 0;
}

.hidden {
  display: none !important;
}

.more {
  &__button {
    background-color: #fff;
    border: 0;
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 46px;
  }
}

//prices
.prices768 {
  display: none;
}
.prices-btn-img {
  width: 100%;
  height: 100%;
}

.prices__wrapper {
  margin-left: 24px;
  .prices__header {
    background: linear-gradient(to right, #f8f8f8, #fff);
    color: v.$font-color;
    font-weight: 300;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 16px 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-top: 1px solid #d9fff5;
    margin-bottom: 24px;
  }

  .prices__table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    border-left: none;
    border-right: none;
    border-top: 1px solid #eaeaea; // или какой у тебя там цвет
    border-bottom: 1px solid #eaeaea;
    padding: 16px 24px; // если нужно
  }
  th {
    text-align: start;
    font-weight: 500;
    color: #7e7e82;
  }

  tbody {
    background-color: #fff;
    height: 324px;
    width: 50% !important;
    border-radius: 6px;
  }

  .pl24 {
    padding-left: 24px;
  }

  .pb16 {
    padding-bottom: 16px;
  }

  td:first-child {
    padding-left: 24px;
  }
}
.prices__footer {
  margin: 32px 0;
}
.prices__footer-notice {
  display: flex;
  width: 421px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  justify-content: start;
  margin-left: 32px;
  margin-bottom: 16px;
}
.prices__footer-button {
  margin-left: 32px;
  border: #eaeaea;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}
.prices__footer-button:active {
  background-color: rgba(177, 191, 189, 0.1333333333);
}

.footer {
  box-sizing: border-box;
  margin: 32px 24px;
  width: 95% !important;
  height: 65px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9fff5;
  align-items: end;

  &__credits {
    width: 218px;
    height: 32px;
    font-weight: 500;
    opacity: 72.18%;
    font-size: 14px;
    color: v.$font-color;
  }

  &__politics {
    width: 218px;
    height: 32px;
    font-weight: 500;
    opacity: 72.18%;
    font-size: 14px;
    color: v.$font-color;
  }
  &__public {
    text-align: end;
    width: 330px;
    font-weight: 500;
    opacity: 72.18%;
    font-size: 14px;
    color: v.$font-color;
  }
}

.overlay {
  display: none;
}

// media 768-1440

@media (max-width: 1440px) and (min-width: 768px) {
  .aside {
    display: none;

    &.actived {
      overflow-y: auto;
    }
  }

  .main {
    padding-left: 0;
    .main__header {
      display: none;
    }
  }
  .main__header-768 {
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 88px;
    width: 100%;
    padding-left: 24px;

    .header__rightside {
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-left: auto;
    }

    .header__item {
      padding-right: 20px;
    }
    .header__item16 {
      padding-right: 16px;
    }
  }
  .left-side768 {
    display: flex;
    padding-top: 24px;
    margin-bottom: 32px;
    background-color: #f8f8f8;
    border-top: 1px solid #d9fff5;
  }
  .main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-left: 24px;
  }
  .main__content {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main__more {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  button.main__more {
    border: none;
  }

  .main.nocsroll {
    overflow: hidden;
    height: 100vh;
  }

  .slider {
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr) !important;
    .eshe768 {
      display: none;
    }
  }

  .slider-techs {
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr) !important;
    padding-left: 24px;
  }

  .header-2 {
    flex-grow: 0.2 !important;
  }
  .list-item-price {
    width: 12% !important;
  }
  .list-item-time {
    margin-right: 5% !important;
  }

  .footer {
    box-sizing: border-box;
    margin-left: 0;

    &:first-of-type {
      margin-left: 24px;
    }
    &:last-of-type {
      margin-right: 24px;
    }
  }
  .call__main {
    width: 100%;
  }
  .aside {
    display: flex;
    box-shadow: 16px 0px 52px 0px #0e185033;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: -306px;
    width: 306px;
    height: 100vh;
    max-height: 100vh;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  .aside.actived {
    left: 0;
  }

  .button-close-2 {
    display: block;
    margin-right: 15px;
  }

  .button-search {
    margin-left: auto;
  }

  .aside__header {
    justify-content: start;
  }

  .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    color: transparent;
    z-index: 500;
  }

  #burger {
    position: relative;

    width: 40px;
    height: 40px;
    background: #f8f8f8;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  .main {
    transition: filter 0.3 ease;
  }
  .main.blurred {
    filter: blur(4px);
    pointer-events: none;
  }

  .footer {
    width: 96%;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); // или другой цвет
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    pointer-events: none; // чтобы не блокировать ничего в скрытом состоянии

    &.visible {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}

@media (max-width: 767px) {
  .aside {
    left: -306px;
    transition: left 0.3s ease;
  }
  .aside.actived {
    left: 0;
    box-shadow: 16px 0px 52px 0px #0e185033;
  }

  .button-close-2 {
    display: block;
    margin-right: 15px;
  }

  .button-search {
    margin-left: auto;
  }

  .aside__header {
    justify-content: start;
  }

  .main {
    transition: filter 0.3 ease;
  }
  .main.blurred {
    filter: blur(4px);
    pointer-events: none;
  }
  .main {
    padding: 0;

    &__header {
      display: none;
    }

    &__header-768 {
      box-sizing: border-box;
      background-color: #fff;
      display: flex;
      align-items: center;
      height: 88px;
      width: 100%;
      padding-left: 16px;

      .header__rightside {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: auto;
      }

      .header__item {
        padding-right: 16px;
      }
      .header__item16 {
        padding-right: 16px;
      }
    }
  }

  .main__header-768 .header__item {
    padding-right: 8px;
  }

  .less768 {
    display: none;
  }

  .main__container {
    display: block;
  }
  .slider,
  .slider-techs {
    display: flex !important;

    &__item {
      min-width: 240px;
    }
  }

  #hideBtn,
  #hideBtn2 {
    display: none;
  }

  .prices-list {
    display: flex;
    gap: 16px;
    .prices-divider {
      display: none;
    }
  }

  .list-header {
    display: none !important;
  }

  .prices-list-item {
    width: 260px !important;
    height: 200px;
    padding-left: 16px;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 6px;
    padding: 16px;

    .list-item-name {
      grid-column: 1/3;
      grid-row: 1/2;
      width: fit-content;
    }
    .list-item-price {
      grid-column: 1/3;
      width: fit-content;
    }
  }

  .header-1-768 {
    display: block;
    font-size: 14px;
    color: #7e7e82;
    grid-row: 1/2;
    grid-column: 1/3;
    margin-bottom: 6px;
  }
  .header-2-768 {
    display: block;
    font-size: 14px;
    color: #7e7e82;
    grid-row: 2/3;
    grid-column: 1/3;
  }
  .header-3-768 {
    display: block;
    font-size: 14px;
    color: #7e7e82;
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .footer {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-bottom: 20px;

    &__public {
      text-align: center;
    }
  }

  .modal-feedback {
    width: 100%;

    &__wrapper {
      display: block;
      background-color: #fff;
    }
  }

  .feedback__main {
    width: 100%;
    box-shadow: none;
  }

  .closeModal2 {
    margin-left: 16px !important;
  }

  .call__wrapper {
    display: block !important;
  }

  .modal__call {
    background-color: #fff;
    max-width: none !important;
  }
  .call__wrapper {
    max-width: none !important;
    width: 100% !important;
    position: static !important;
  }

  .modal__blur {
    display: none;
  }
  .call__main {
    width: 100%;
  }

  .swiper-pagination {
    display: block;
    bottom: -16px;
  }

  .swiper-slide {
    width: 240px !important;
  }

  .slider {
    max-height: 80px;
  }

  .companies {
    height: 180px;
  }

  .techs__wrapper {
    margin-top: 25px;
    min-height: 280px;
  }

  .swiper-slide {
    width: fit-content !important;
  }

  .prices__wrapper-list {
    height: 320px;
  }

  .swiper-wrapper {
    max-width: fit-content !important;
  }

  #last-swiper {
    bottom: 10px;
  }

  //prices
  * {
    box-sizing: content-box;
  }
  .prices__footer-notice {
    width: 340px;
  }
  .prices {
    display: none;
  }

  .prices768__wrapper {
    height: 320px;
  }
  .prices768 {
    display: block;

    &__item {
      width: 260px !important;
      height: 200px !important;
      background-color: #fff;
      border-radius: 6px;
      padding: 16px;
      display: flex;
      flex-direction: column;

      box-sizing: border-box;
    }
  }
  .prices__header768 {
    color: v.$font-color;
    font-weight: 300;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 16px 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-top: 1px solid #d9fff5;
    background: linear-gradient(to right, #f8f8f8, #fff);
  }

  .prices__main768 {
    padding: 16px 8px;
    column-gap: 16px;
  }

  .price__name,
  .price__prc,
  .time-l {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .price__time {
    display: flex;
    justify-content: space-between;

    img {
      transform: translateY(6px);
    }
  }

  .name__header {
    font-weight: 500;
    font-size: 14px;
    color: #7e7e82;
    margin-bottom: 4px;
  }
  .name__value {
    font-size: 14px;
    font-weight: 400;
  }
}
