@use 'vars' as v;
@import url(fonts.css);

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  font-family: v.$font-family;
  flex-direction: column;
}

*button {
  background-color: #fff;
  border: none;
  padding: 0;
  width: fit-content;
  height: 40px;

  &:active {
    background-color: v.$button-active;
  }
}

.aside {
  width: 306px;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 31px 0 22px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding-left: 0;
    padding-top: 37px;
    margin-bottom: 0;
    flex-grow: 1;
    overflow-y: auto;
  }
}
.button-list {
  background-color: #fff;
  width: fit-content;
  border: none;
  font-family: v.$font-family;
  font-weight: 500;
  display: flex;
  padding: 0;
  align-items: center;
}

.divider {
  width: 4px;
  height: 32px;
  background-color: v.$divider-color;
  position: absolute;
  left: 0px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.divider2 {
  width: 3px;
  height: 40px;
  border-radius: 2px;
  background-color: v.$divider-color;
  margin-left: 2px;
}

.list__item {
  display: flex;
  align-items: center;
  padding-left: 24px;
  color: v.$font-color;
  transition: color 0.3s ease;

  &:hover {
    button {
      color: v.$font-color;
    }
  }
  &:focus-within {
    .divider {
      opacity: 1;
    }
  }
}

.aside__footer {
  margin-left: 19px;
  .contact {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
  }
  .mail {
    font-weight: 500;
    color: v.$font-color;
    margin-bottom: 12px;
  }
  .number {
    font-weight: 700;
    color: v.$font-color;
  }
}

.language {
  font-weight: 500;
  display: flex;
  margin-top: 40px;
  gap: 7px;

  &__input {
    display: none;
  }

  &__item {
    color: black;
    cursor: pointer;
    transition: color 0.3s;
  }

  &__input:checked + &__item {
    color: gray;
  }
}

.main {
  width: 100%;
  height: 100%;
  margin-left: 306px;
  background-color: #f8f8f8;

  &__header {
    width: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-top: 42px;
  }
}

.left-side {
  display: flex;
  align-items: center;
}
.header__text {
  font-weight: 700;
  font-size: 28px;
  display: block;
  white-space: nowrap;
  margin-left: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 32px;
}
.repair,
.checkstatus {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  gap: 8px;
  width: fit-content !important;
  background-color: #fff;
  border: none;
  font-family: v.$font-family;

  &:active {
    background-color: v.$button-active;
  }
}

.checkstatus {
  margin-right: 30px;
}

.left-side768 {
  display: none;
}
.main__header-768 {
  display: none;
}
.main {
  &__scrollbar {
    width: auto;
    max-width: 1140px;
    height: 40px;
    margin: 0 20px;
    margin-top: 8px;

    display: flex;

    gap: 5px;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__scroll-item {
    width: 246px;
    height: 40px;
    padding: 10px;
    font-family: v.$font-family;
    font-size: 16px;
    font-weight: 500;
    color: v.$font-color;
    opacity: 0.8;
    border: 2px solid white;
    border-radius: 6px;
    background-color: #f8f8f8;

    &:focus,
    &:active {
      border: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #fff;
    }
  }
}

.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 24px;
  }

  &__content {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    margin: 0 16px 0px 16px;
    height: fit-content;
    max-width: 80%;
  }

  &__more {
    margin: 16px 0px 10px 0px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;

    button {
      border: 1px solid white;
      background-color: white;
      width: fit-content;

      &:active {
        background-color: #b1bfbd22;
      }
    }
  }

  &__img {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0px;
    width: 100%;

    img {
      height: 30vw;
      border-radius: 6px;
    }
  }
}

//companies

.companies {
  margin-top: 51px;
  button {
    border: none;
    background-color: #fff !important;

    &:active {
      background-color: rgba(0, 255, 255, 0.194);
    }
  }

  .header {
    color: v.$font-color;
    font-weight: 300;
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 16px 32px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-top: 1px solid #d9fff5;
  }

  .slider {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(4, 240px);
    column-gap: 32px;
    row-gap: 16px;
    padding-left: 32px;

    &__item {
      width: 240px;
      height: 72px;
      box-sizing: border-box;
      display: flex;
      border-radius: 6px;
      overflow: hidden;
      border: 1px solid #eaeaea;
    }
  }

  .eshe {
    display: none;
  }

  .item {
    &__logo {
      padding-left: 16px;
    }

    &__button {
      padding: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center !important;
      background-color: #fff;
    }

    &__go {
      margin-right: 16px;
    }
  }

  .more {
    &__button {
      display: flex;
      align-items: center;
      margin-left: 32px;
      margin-top: 46px;
    }

    &__item {
      display: grid;
      grid-template-columns: repeat(4, 240px);
      grid-column: 1 / 4;
      gap: 32px;

      &.moreItem {
        display: none;
      }
    }
  }

  .mySwiper {
    display: none !important;
  }
}

//techs
.techs {
  margin-bottom: 50px;
  &__wrapper {
    margin-top: 50px;

    .eshe {
      display: none;
    }
    .slider-techs {
      background-color: v.$bg-main;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px;
    }
    .header {
      color: v.$font-color;
      font-weight: 300;
      width: 100%;
      height: 56px;
      box-sizing: border-box;
      padding: 16px 32px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      border-top: 1px solid #d9fff5;
      margin-bottom: 24px;
    }
  }
}
.slider__item2 {
  .item__button2 {
    font-family: v.$font-family;
    font-weight: 500;
    width: 240px;
    height: 160px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 16px 0 0 16px;
    border-radius: 6px;
    border: 1px solid #eaeaea;
    background-color: #fff;

    &:active {
      background-color: v.$button-active;
    }
  }
}

.tech-go {
  align-self: flex-end;
  padding: 0 16px 16px 0;
}

.hidden {
  display: none !important;
}

.more {
  &__button {
    background-color: #fff;
    border: 0;
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 46px;
  }
}

//prices

.prices__wrapper {
  &-header {
    text-transform: uppercase;
    border-top: 1px solid #d9fff5;
    padding: 16px 0 16px 24px;
    font-size: 16px;
    color: v.$font-color;
    align-content: center;
    width: 100%;
    height: 57px;
  }
}

.prices__wrapper-list {
  .list-header {
    display: flex;
    margin-left: 56px;

    .header-1 {
      font-weight: 500;
      color: v.$font-color;
      width: 50%;
    }
    .header-2 {
      font-weight: 500;
      color: v.$font-color;
      flex-grow: 0.4;
    }
    .header-3 {
      font-weight: 500;
      color: v.$font-color;
    }
  }
  .prices-list {
    list-style: none;
    padding-left: 32px;
    margin-bottom: 32px;

    .prices-list-item {
      display: flex;
      align-items: center;
    }
  }
}
.list-item-button {
  border: 0;
  background-color: #fff;
  &:active {
    background-color: v.$button-active;
  }
}

.prices-list-item {
  background-color: #fff;
  width: 100%;
  display: flex;
  height: 64px;
  padding-left: 24px;

  .list-item-name {
    width: 49%;
  }
  .list-item-price {
    width: 20%;
  }
  .list-item-time {
    width: 90px;
    margin-right: 10%;
  }
}

.prices-divider {
  height: 1px;
  background-color: #eaeaea;
  width: 95%;
  justify-self: center;
}

.prices__footer {
  margin-bottom: 50px;
  &-notice {
    display: flex;
    width: 421px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.2px;
    justify-content: start;
    margin-left: 32px;
    margin-bottom: 16px;
  }
  &-button {
    margin-left: 32px;
    border: #eaeaea;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    gap: 10px;
    &:active {
      background-color: v.$button-active;
    }
  }
}

.footer {
  margin-left: 306px;
  margin-bottom: 32px;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #d9fff5;
  align-items: end;

  &__credits {
    width: 218px;
    height: 32px;
    font-weight: 500;
    opacity: 72.18%;
    font-size: 14px;
    color: v.$font-color;
  }

  &__politics {
    width: 218px;
    height: 32px;
    font-weight: 500;
    opacity: 72.18%;
    font-size: 14px;
    color: v.$font-color;
  }
  &__public {
    text-align: end;
    width: 330px;
    font-weight: 500;
    opacity: 72.18%;
    font-size: 14px;
    color: v.$font-color;
  }
}

// media 768-1440

@media (max-width: 1440px) and (min-width: 768px) {
  .aside {
    display: none;
  }

  .main {
    margin-left: 0;
    .main__header {
      display: none;
    }
  }
  .main__header-768 {
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 88px;
    width: 100%;
    padding-left: 24px;

    .header__rightside {
      display: flex;
      align-items: center;
      margin-right: 20px;
      margin-left: auto;
    }

    .header__item {
      padding-right: 20px;
    }
    .header__item16 {
      padding-right: 16px;
    }
  }
  .left-side768 {
    display: flex;
    padding-top: 24px;
    margin-bottom: 32px;
    background-color: #f8f8f8;
    border-top: 1px solid #d9fff5;
  }
  .main__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    margin-left: 24px;
  }
  .main__content {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .main__more {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .slider {
    grid-template-columns: repeat(3, 1fr) !important;
    .eshe768 {
      display: none;
    }
  }

  .slider-techs {
    grid-template-columns: repeat(3, 1fr) !important;
    padding-left: 24px;
  }

  .header-2 {
    flex-grow: 0.2 !important;
  }
  .list-item-price {
    width: 12% !important;
  }
  .list-item-time {
    margin-right: 5% !important;
  }

  .footer {
    margin-left: 0;

    &:first-of-type {
      margin-left: 24px;
    }
    &:last-of-type {
      margin-right: 24px;
    }
  }

  .aside {
    display: flex;
    box-shadow: 16px 0px 52px 0px #0e185033;

    position: fixed;
    top: 0;
    left: -306px;
    width: 306px;
    height: 100vh;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
  }
  .aside.actived {
    left: 0;
  }
  #burger {
    position: relative;

    width: 40px;
    height: 40px;
    background: #f8f8f8;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1001;
  }
  .main {
    transition: filter 0.3 ease;
  }
  .main.blurred {
    filter: blur(4px);
  }
}
